# Игнорировать бинарники
app.exe
*.exe
*.bin

# Игнорировать папку с IDE (если не хотите её коммитить)
.vscode/
laba/

# Игнорировать временные файлы
*.log
*.tmp

# Игнорировать локальные конфиги (если есть)
.env
config.local.yaml